/*.App {
  display: flex;
  flex-direction: row;
}

.footer {
  position: absolute;
  right: 0;
  bottom: -3800px;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/


/*.header {
  background-color: rgb(51, 48, 45);
  margin-top: -20px;
  height: 60px;
  width: 100%;
  color: white;
  line-height: 60px;
}

h3 {
  padding: 23px 60px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 370px;
  width: 950px;;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;

}

a.unit1 {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/b1.jpg');
  background-size: cover; 
  font-family: 'Open Sans', sans-serif;
}

.span1 {
  height: 145px;
  background-color: whitesmoke;
  opacity: 0.4;
  filter: alpha(opacity=40);  
}

p.head {
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.unit2 {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/b2.jpg');
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a.unit3 {
  text-align: center;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/b3.jpg');
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a.unit4 {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./images/b4.jpeg');
  background: rgba(76, 175, 80, 0.5);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}*/